@media (prefers-color-scheme: dark) {
}

html {
	background-color: rgb(255, 0, 0);
}
/* Must start with ".site-box". Change how your website will appear on main nekoweb site: https://lune.dimden.dev/405a44b7e5.png */

img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

body {
	font-family: "Georgia", sans-serif;
	width: 600px;
	margin: 0 auto;
	background-color: #e8e8e8;
	background-image: url(cabin.jpg);
	padding: 50px 20px 20px 20px;
	border: 5px solid black;
}
button {
	font-family: "helvetica neue", helvetica, sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	border: 2px solid rgb(200 200 200 / 60%);
	background-color: rgb(0 217 217 / 60%);
	color: rgb(100 0 0 / 100%);
	box-shadow: 1px 1px 2px rgb(0 0 200 / 40%);
	border-radius: 10px;
	padding: 3px 10px;
	cursor: pointer;
}

.box {
	height: 200px;
	width: 200px;
	background-color: rgb(rgb(207, 144, 144), green, blue);
	transform: translateX(70vw);
	animation: moveRotate 2s ease infinite alternate-reverse;
}

@keyframes moveRotateP {
	to {
		transform: translateX(-80vw) rotate(360deg) scale(5);
	}
}