@media (prefers-color-scheme: dark) {
}

html {
	background-color: rgb(255, 0, 0);
    /*background-image: url("images/Moon.png");*/
    background-size: 100% auto;
}




img {
	display: block;
	margin: 20 auto;
	max-width: 50%;
    background-color: #000000;
}

body {
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    display: flex;

    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    color: rgb(0, 0, 0);





    border-radius: 2%;


        animation: fade-up 0.5s;
    
    z-index: 0;
}

button {
    font-family: 'OldLondonAlternate';
    font-size: 100%;
    border-radius: 3px;
    animation: fly-ball;
}






.ball {
  position: fixed;
  align-items: center;

  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  border: 5px solid black;
  animation: fly-ball 5s;


}


.Title {
	font-family: "BlackMustang";

    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: 1vw;
    margin-bottom: 1vw;

    padding-top: -1%;
    padding-bottom: -1%;
    padding-left: 1vw;
    padding-right: 1vw;
    

    background-color: white;
    font-size: 30vw;
    border: 5px solid black;
    border-radius: 10px;
    word-wrap: break-word;

}



.ProjectCube {
    text-align: center;
    display: flex;
    font-family: BlackMustang;
    font-size: 150%;

    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;

    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 1vw;
    padding-right: 1vw;


    background-color: aliceblue;
    border: 5px solid rgb(0, 0, 0);  

}



#mainBody {
    background-color: rgb(255, 255, 255);
    border: #9f7c7c 5px 5px 5px 5px;
    margin-top: 20%;
    margin-bottom: 20%;
    padding-top: 0%;
    padding-bottom: 0%;
    border-radius: 2vw;
    border: 5px solid black;
    font-family: "LongShot";
    font-size: 200%;


}

#mainBody2 {
    background-color: rgb(255, 255, 255);
    border: #000000 5px 5px 5px 5px;
    margin-top: 20%;
    margin-bottom: 10%;
    margin-right: 10vw;;
    margin-left: 10vw;
    
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    
    border-radius: 2%;
    border: 5px solid black;
    font-family: "LongShot";
    font-size:  4vw;
}


#Ground {
  position: fixed;
  align-items: center -900px;
  ;
  bottom: -10px;
  background-position-x: 10vw;
  background-position-y: -200vw;
  width: 200vw;
  height: 200vw;
  background-color: rgb(37, 35, 35);
  border-radius: 100%;
  border: 5px solid black;
  z-index: -1;

  margin-bottom: -180vw;
  animation: fade-up 2s;
 
}



@keyframes fly-ball {
0% {
    
    opacity: 0;
} 

25% {
    opacity: 1;
}

50% {
    opacity: 12;
}

100% {
  transform: translateX(50%) translateY(100%);
  zoom: 200%;
  }
}

@keyframes fade-up {
    0% {
        opacity: 0.9;
        transform: translateY(-2px) scale(0.95);
    }    

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}



@font-face {
    font-family: 'OldLondon'; /*a name to be used later*/
    src: url('fonts/OldLondon.ttf'); /*URL to font*/
}


@font-face {
    font-family: 'OldLondonAlternate'; /*a name to be used later*/
    src: url('fonts/OldLondonAlternate.ttf'); /*URL to font*/
}


@font-face {
    font-family: 'KingThings'; /*a name to be used later*/
    src: url('fonts/Kingthings\ Spike.ttf'); /*URL to font*/
}


@font-face {
    font-family: 'BlackMustang'; /*a name to be used later*/
    src: url('fonts/Black\ Mustang.ttf'); /*URL to font*/
}




@font-face {
    font-family: 'LongShot'; /*a name to be used later*/
    src: url('fonts/Long_Shot.ttf'); /*URL to font*/
}