@media (prefers-color-scheme: dark) {
}

/**/


html {
	background-color: rgb(255, 0, 0);
    /*background-image: url("images/Moon.png");*/
    background-size: 100% auto;
}

iframe {
    background-color: rgb(106, 0, 0);
    margin-left: 6px;
    margin-right: 7px;
    border-radius: 2vw;
    border: 5px;
}

/*not defined */
img {
    float: left;
	display: block;

	max-width: 30vw;
    background-color: #ffffff;
    border: 3px solid black;
    object-fit: cover;
    border-radius: 1vw;
}

/*This is the part of for the body*/





body {
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    display: flex;

    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    color: rgb(0, 0, 0);





    border-radius: 2%;


        animation: fade-up 0.5s;
    
    z-index: 0;
}

button {
    font-family: 'OldLondonAlternate';
    font-size: 100%;
    border-radius: 3px;
    animation: fly-ball;
}






.ball {
  position: fixed;
  align-items: center;

  width: 70px;
  height: 70px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  border: 5px solid black;
  animation: fly-ball s;


}


.Title {
    text-align: center;
	font-family: "BlackMustang";

    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: 1vw;
    margin-bottom: 1vw;

    padding-top: -1%;
    padding-bottom: -1%;
    padding-left: 1vw;
    padding-right: 1vw;
    

    background-color: white;
    font-size: 30vw;
    border: 5px solid black;
    border-radius: 10px;
    word-wrap: break-word;

}



.ProjectCube {
    text-align: left;
    display: flex;
    object-fit: cover;
    font-family: Kingthings;
    font-size: 180%;

    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 3vw;
    margin-right: 3vw;

    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 1vw;


    background-color: aliceblue;
    border: 5px solid rgb(0, 0, 0);  
    
    p {
        margin: 12% 12px 12px 12px;
        padding: 12% 12 12px 12px;
    }

}



#mainBody {
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: #5c1c1c 5% 5% 5% 5%;
    margin-top: 20%;
    margin-bottom: 20%;
    
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 1vw;
    border: 3px solid black;


    font-family: "LongShot";
    font-size: 200%;

}



#mainBody2 {
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: #000000 5px 5px 5px 5px;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-right: 10vw;;
    margin-left: 10vw;
    
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5vw;
    padding-right: 5vw;
    
    border-radius: 2%;
    border: 5px solid black;
    font-family: "LongShot";
    font-size:  4vw;
}


#Ground {
  position: fixed;
  align-items: center;
  ;
  bottom: -10px;
  background-position-y: -200vw;
  width: 200vw;
  height: 200vw;
  background-color: rgb(37, 35, 35);
  border-radius: 100%;
  border: 5px solid black;
  z-index: -1;

  margin-bottom: -180vw;
  animation: fade-up 5s;
 
}



@keyframes fly-ball {
0% {
    
    opacity: 0;
} 

25% {
    opacity: 0.5;
}

50% {
    opacity: 1;
}

100% {
  transform: translateX(10%) translateY(100%);
  zoom: 200%;
  }
}

@keyframes fade-up {
    0% {
        opacity: 0.9;
        transform: translateY(-2px) scale(0.95);
    }    

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}



@font-face {
    font-family: 'OldLondon'; /*a name to be used later*/
    src: url('fonts/OldLondon.ttf'); /*URL to font*/
}


@font-face {
    font-family: 'OldLondonAlternate'; /*a name to be used later*/
    src: url('fonts/OldLondonAlternate.ttf'); /*URL to font*/
}


@font-face {
    font-family: 'KingThings'; /*a name to be used later*/
    src: url('fonts/Kingthings\ Spike.ttf'); /*URL to font*/
}


@font-face {
    font-family: 'BlackMustang'; /*a name to be used later*/
    src: url('fonts/Black\ Mustang.ttf'); /*URL to font*/
}




@font-face {
    font-family: 'LongShot'; /*a name to be used later*/
    src: url('fonts/Long_Shot.ttf'); /*URL to font*/
}