@media (prefers-color-scheme: dark) {
}

html {
	background-color: rgb(255, 0, 0);
    /*background-image: url("images/Moon.png");*/
    background-size: 100% auto;
}

img {
	display: block;
	margin: 20 auto;
	max-width: 100%;
}

body {
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    display: flex;

    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    color: rgb(0, 0, 0);



	margin: 0 auto;
	background-color: #ff0000;
	/* padding: 20px 20px 20px 20px; */
    border-radius: 2%;


        animation: fade-up 0.5s;
}

button {
    font-family: 'OldLondonAlternate';
    font-size: 150%;
    border-radius: 3px;
    animation: fly-ball;
}



#titleName {
    text-align: center;
    font-size: 225%;
	font-family: "BlackMustang";
    margin: 1 1 2% 2%;
    overflow: auto;
    background-color: white;
    font-size: 900%;
    border: 5px solid black;
    border-radius: 10px;
    margin-bottom: 10%;
    margin-top: 10%;
}

.ball {
  position: absolute;
  align-items: center;

  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  border: 5px solid black;

  animation: fly-ball 2s
}



#mainBody {
    background-color: rgb(255, 255, 255);
    border: #ff0000 5px 5px 5px 5px;
    margin-bottom: 10%;
    padding-top: 20%;
    padding-bottom: 20%;
    border-radius: 2%;
    border: 5px solid black;


}

#mainBody2 {
    background-color: rgb(255, 255, 255);
    border: #ff0000 5px 5px 5px 5px;
    margin-bottom: 10%;
    padding-top: 20%;
    padding-bottom: 20%;
    border-radius: 2%;
    border: 5px solid black;


}


@keyframes fly-ball {
100% {
  transform: translateX(50%) translateY(100%);
  zoom: 200%;
  }
}

@keyframes fade-up {
    0% {
        opacity: 0.9;
        transform: translateY(-2px) scale(0.95);
    }    

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}



@font-face {
    font-family: 'OldLondon'; /*a name to be used later*/
    src: url('fonts/OldLondon.ttf'); /*URL to font*/
}


@font-face {
    font-family: 'OldLondonAlternate'; /*a name to be used later*/
    src: url('fonts/OldLondonAlternate.ttf'); /*URL to font*/
}


@font-face {
    font-family: 'KingThings'; /*a name to be used later*/
    src: url('fonts/Kingthings\ Spike.ttf'); /*URL to font*/
}


@font-face {
    font-family: 'BlackMustang'; /*a name to be used later*/
    src: url('fonts/Black\ Mustang.ttf'); /*URL to font*/
}
