@media (prefers-color-scheme: dark) {
}

html {
	background-color: rgb(255, 0, 0);
    /*background-image: url("images/Moon.png");*/
    background-size: 100% auto;
}

img {
	display: block;
	margin: 20 auto;
	max-width: 100%;
}

body {
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    display: flex;

    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    color: rgb(57, 19, 19);

	margin: 0 auto;
	/*background-color: #433232;*/
	/* padding: 20px 20px 20px 20px; */
    border-radius: 2%;


        animation: fade-up 0.5s;
}

button {
    font-family: 'OldLondonAlternate';
    font-size: 150%;
    background-color:rgb(255, 255, 255);
    border-radius: 3vw;
    border: 5px solid black;
    margin-bottom: 10%;

}



#titleName {
    text-align: center;
    font-size: 225vw;
	font-family: "BlackMustang";
    margin: 1 1 2vw 2vw;
    overflow: auto;
    background-color: white;
    font-size: 900%;
    border: 5px solid black;
    border-radius: 10vw;
    margin-bottom: 10%;
    margin-top: 10%;

}


#Moon {
    position: absolute;
  align-items: center;

  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  border: 5px solid black;
  animation: moonTransition 3s;

}

#Ground {
  position: fixed;
  align-items: center -1000px;
  ;
  bottom: -10px;
  background-position-x: 10vw;
  background-position-y: -200vw;
  width: 200vw;
  height: 200vw;
  background-color: rgb(0, 0, 0);
  border-radius: 100%;
  border: 5px solid black;
  z-index: -1;

  margin-bottom: -175vw;
  animation: fade-up 1s;
 
}


#mainBody {
    background-color: rgb(255, 255, 255);
    border: #ff0000 5px 5px 5px 5px;
    margin-bottom: 10%;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-top: 2vw;
    padding-bottom: 8%;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 2vw;
    border: 5px solid black;
    font-family: "LongShot";
    font-size: 2em;


}

#mainBody2 {
    background-color: rgb(255, 255, 255);
    font-size: 1.5em;
    border: #ff0000 5px 5px 5px 5px;
    margin-bottom: 10%;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%;
    border-radius: 5vw;
    border: 5px solid black;

    font-family: "LongShot";


}


@keyframes fly-ball {
0% {
    transform: translateX(-100%) translateY(-100%);
}

100% {
  transform: translateX(50%) translateY(100%);
  zoom: 200%;
  }
}

@keyframes fade-up {
    0% {
        opacity: 0.0;
        transform: translateY(-2px) scale(0.95);
    }  
    
    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes moonTransition {
0% {
    opacity: 0;
    transform: translateY(-2px) scale(0.5);


}

50%{
    opacity: 1;
    transform: translateY(0px);
        border-radius: 10000%;

}

50%{
    transform: translateY(0px);
}

}


@keyframes GroundTransition {
0% {
  transform: translateX(50%) translateY(100%);
  zoom: 200%;
  }

50% {
  transform: translateX(50%) translateY(100%);
  zoom: 200%;
  }

}




@font-face {
    font-family: 'OldLondon'; /*a name to be used later*/
    src: url('fonts/OldLondon.ttf'); /*URL to font*/
}


@font-face {
    font-family: 'OldLondonAlternate'; /*a name to be used later*/
    src: url('fonts/OldLondonAlternate.ttf'); /*URL to font*/
}


@font-face {
    font-family: 'KingThings'; /*a name to be used later*/
    src: url('fonts/Kingthings\ Spike.ttf'); /*URL to font*/
}


@font-face {
    font-family: 'BlackMustang'; /*a name to be used later*/
    src: url('fonts/Black\ Mustang.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'LongShot'; /*a name to be used later*/
    src: url('fonts/Long_Shot.ttf'); /*URL to font*/
}


@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}
